
<h2>Analytics</h2>
<%= link_to "Funnel Conversions", analytics_conversions_path %><br />
<%= link_to "Analytics Overview Diagram", overview_analytics_dashboards_path %><br />
<%= link_to "Analytics Visitors", analytics_visitors_path %><br />
<%= link_to "Analytics Ignores", analytics_ignores_path %><br />
<br />
<%= link_to "Test Page A", '/admin/test_a' %><br />
<%= link_to "Test Page B", '/admin/test_b' %><br />
<%= link_to "Test Page C", '/admin/test_c' %><br />
